<div class="product-details">
  <span class="title" itemprop="name">{{ product.title }}</span>
  
  
  <div class="description">
  	{{ product.description }}
  </div>
  
  <a href="{{product.url}}" class="learn_more">LEARN MORE 
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="84.26" height="84.15" viewBox="0 0 84.26 84.15">
      <g id="YJgTla.tif">
        <path style="fill: #04a44f;" d="M80.88,35.07c4.67,4.7,4.43,9.61-.21,14.25C70.4,59.57,60.07,69.74,49.81,80c-4.47,4.47-9.36,6-14.24,1.19S32.11,71.35,36.67,67c4.82-4.65,16.86-15,16.54-15.55-12.89,0-28.7.06-41.59,0C4.07,51.34-.1,47.83,0,41.92s4.24-9.12,11.93-9.16c12.84-.06,25.68,0,40.38,0-6.14-6.09-11-10.9-15.88-15.76-4.52-4.53-5.58-9.54-.65-14.23,4.65-4.42,9.43-3.14,13.69,1.08,10.48,10.4,21,20.75,31.41,31.23"/>
      </g>
    </svg>    
  </a>
</div>
