<div class="product-details">
  <span class="title" itemprop="name">{{ product.title }}</span>
  
  
  <div class="description">
  	{{ product.description }}
  </div>
  
  <a href="{{product.url}}" class="learn_more">LEARN MORE</a>
</div>
